*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  color: #333;
  font-family: "Microsoft YaHei";
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.sn_container {
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 0.9rem;
  padding-bottom: 1rem;
}
@media (min-width: 320px) {
  html {
    font-size: 42.66666667px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 53.33333333px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 56.53333333px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 72px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 85.33333333px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 96px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 100px;
  }
}
/*header部分*/
#header {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  background-color: #ff841d;
  padding: 0 0.1rem;
}
#header .logo {
  float: left;
}
#header .logo a img {
  width: 1.9rem;
  height: 0.25rem;
}
#header .app_download {
  float: right;
}
#header .app_download a img {
  width: 0.34rem;
  height: 0.34rem;
}
/*search部分*/
#search {
  width: 100%;
}
#search .search_form {
  padding: 0.1rem;
  display: flex;
  font-size: 0.14rem;
}
#search .search_form input[type="text"] {
  flex: 1;
  height: 0.3rem;
  padding-left: 0.1rem;
  border-radius: 0.15rem;
  background-color: #f1f1f1;
  float: left;
}
#search .search_form input[type="button"] {
  margin-left: 0.1rem;
  width: 0.63rem;
  height: 0.3rem;
  border-radius: 0.15rem;
  background-color: #ff841d;
  color: #fff;
}
/*menu部分*/
#menu {
  text-align: center;
  border-top: 0.1rem solid #ccc;
  padding: 0.1rem 0;
  cursor: pointer;
}
#menu .menu_item {
  width: 25%;
  float: left;
}
#menu .menu_item a {
  font-size: 0.12rem;
  display: block;
}
#menu .menu_item a img {
  width: 0.5rem;
  height: 0.5rem;
}
#menu .menu_item a p {
  margin-top: 0.05rem;
  font-size: 0.12rem;
}
#menu .menu_item:nth-last-child(-n+4) {
  display: none;
}
/*discount部分*/
#discount {
  width: 100%;
}
#discount .discount_title {
  height: 0.35rem;
  line-height: 0.35rem;
  background-color: #ff841d;
  padding: 0 0.1rem;
}
#discount .discount_title span {
  font-size: 0.16rem;
  color: #fff;
  float: left;
}
#discount .discount_title img {
  width: 0.2rem;
  height: 0.2rem;
  margin-top: 0.07rem;
  float: right;
}
#discount .discount_product .media {
  margin-top: 0.2rem;
}
#discount .discount_product .media .media-left a img {
  width: 1rem;
  height: 1rem;
}
#discount .discount_product .media .media-body {
  padding-left: 0.1rem;
  padding-right: 0.05rem;
}
#discount .discount_product .media .media-body h4 {
  font-size: 0.16rem;
}
#discount .discount_product .media .media-body .media-other {
  margin-top: 0.4rem;
  font-size: 0.12rem;
  color: #ccc;
}
#discount .discount_product .media .media-body .media-other .other-time {
  float: left;
}
#discount .discount_product .media .media-body .media-other .other-talk {
  float: right;
}
#discount .discount_more {
  padding: 0.1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}
#discount .discount_more a {
  display: block;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.16rem;
  color: #0f0f0f;
  background-color: #F4F4F4;
  border-radius: 10px;
  text-align: center;
}
/*footer部分*/
#footer .login_top {
  border: 1px solid #ccc;
  height: 0.35rem;
  line-height: 0.35rem;
  text-align: center;
}
#footer .login_top .login {
  float: left;
  width: 33.3%;
  border-right: 1px solid #ccc;
}
#footer .login_top .register {
  float: left;
  width: 33.3%;
  border-right: 1px solid #ccc;
}
#footer .login_top .goTop {
  float: left;
  width: 33.3%;
}
#footer .login_top .goTop a img {
  height: 0.3rem;
  width: 0.3rem;
}
#footer .login_bottom {
  text-align: center;
  margin-top: 0.2rem;
}
#footer .login_bottom span {
  margin-right: 0.1rem;
}
#footer .login_bottom span:first-child {
  color: red;
}
#footer .login_bottom p {
  margin-top: 0.1rem;
}
